
      #These are module configuration settings that control the way the build executes.
      # They should almost never change unless you want to change the type of build you are running.

      # Specifies the module name and should not be changed. Only case is if you need to change the name of
      # the module which would also require you to change the name of the module directory.
      module.name=sef

      # Specifies the module name and should not be changed. Only case is if you need to change the name of
      # the module which would also require you to change the name of the module directory
      module.type=au

      # branch=trunk

      # path to the main trunk in svn for this module
      # default is:
      # svn.repos.url=http://svn.successfactors.com/repos/modules/${config.module.name}/${config.branch}

      # The pattern for publishing this module
      module.version.target=1.0
