html[data-sap-ui-browser="ie8"] header,
html[data-sap-ui-browser="ie8"] section,
html[data-sap-ui-browser="ie8"] footer {
    display: block;
}

#content {
    height: 100%;
    height: calc(100% - 100px) !important;
}

.sefEventCenter {
    position: absolute;
    width: 100%;
    height: 100%;
}

.sefEventCenter .sapMOH .sapMOHAttr {
    width: 100%;
}

.sefEventCenter .sapMOH .sapMOHAttr .sapMObjectAttributeDiv {
    max-height: none;
    overflow: auto;
}

.sefDialog .sapMOH.sefNoPaddingHeader,
.sefEventCenter .sapMOH.sefNoPaddingHeader {
    padding: 0;
}

.sefEventCenter .eventsTable .eventTableNumber {
    font-size: 3rem;
}

.sefEventCenter .eventsTable .eventTableNumberRaised {
    color: #666;
}

.sefEventCenter .eventsTable .eventTableNumberSubscribers {
    color: #009DE0;
}

.sefEventCenter .sefEventMonitor .sefNoDataMsgPage {
    height: 320px;
}

.sefEventCenter .sefEventMonitor .flexFixForNotIE .sapUiFixFlexFlexible,
.sefEventCenter .sefEventDetail .flexFixForNotIE .sapUiFixFlexFlexible {
    height: auto !important;
}

.sefEventCenter .sefEventDetail .sefEventDetailName {
    border-bottom: 1px solid #e5e5e5;
    padding: 1rem;
    margin: 0;
}

.sefEventCenter .sefEventDetail .sefEventDetailName .sapMOHBottomRow {
    margin-top: 0;
}

.sefEventCenter .sefEventDetail .sefEventDetailMenu .sefCustomMenuGroupHeader {
    height: 3rem;
    font-size: 1.125rem;
}

.sefEventCenter .sefEventDetail .sefEventDetailMenu .sefEventDetailSubMenu {
    font-size: 1rem;
    padding-left: 1.5rem;
}

.rtl .sefEventCenter .sefEventDetail .sefEventDetailMenu .sefEventDetailSubMenu {
    padding-left: 0;
    padding-right: 1.5rem;
}

.sefEventCenter .sefEventDetail .subscriberDetailPanel .sapMPanelContent {
    border-bottom: none;
}

.sefEventCenter .sefEventDetail .subscriberHeader {
    padding: 0;
    margin: 0;
}

.sefEventCenter .sefEventDetail .sefTextVerticalAlignControl {
    line-height: 3rem;
}

.sefEventCenter .sefEventDetail .subscriberDetail {
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
}

.sefEventCenter .sefEventDetail .subscriberDetailPanel > .sapMPanelContent {
    position: relative;
}

.sefEventCenter .sefEventDetail .subscriberPanelDisabled .sapMPanelContent::before {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    opacity: .5;
    z-index: 1;
}

.sefEventCenter .sefEventDetail .sefNoBorderContainer .sapMPanelContent,
.sefEventCenter .sefEventDetail .sefNoBorderContainer .sapMListHdr,
.sefEventCenter .sefEventDetail .sefNoBorderContainer .sapMTB,
.sefEventCenter .sefEventDetail .sefNoBorderContainer .sapMLIB {
    border: none;
}

.sefEventCenter .sefEventDetail .sefNotificationItem {
    padding: .5rem 1rem;
}

.sefEventCenter .sefEventDetail .sefNotificationItem .sapMIBar.sapMTB {
    padding: 0;
}

.sefEventCenter .sefEventDetail .sefNotificationItem .sapMIBar.sapMTB .sefNotificationItemTitle {
    font-weight: bold;
    margin: 0;
}
