
      #These are module configuration settings that control the way the build executes.
      # They should almost never change unless you want to change the type of build you are running.

      # Specifies the module name and should not be changed. Only case is if you need to change the name of
      # the module which would also require you to change the name of the module directory.
      module.name=hermes

      # Specifies the module name and should not be changed. Only case is if you need to change the name of
      # the module which would also require you to change the name of the module directory
      module.type=idl

      # branch=trunk

      # path to the main trunk in svn for this module
      # default is:
      # svn.repos.url=http://svn.successfactors.com/repos/modules/${config.module.name}/${config.branch}

      # The pattern for publishing this module
      module.version.target=1.2



      module.project.dependencies.ui=service
      module.project.dependencies.web=service
      
      module.ivyde.service.A.confs=provided,runtime
      module.ivyde.service.A.export=true
      module.ivyde.service.B.confs=test
      module.ivyde.service.B.export=false
      module.ivyde.ui.confs=provided,runtime,test
      module.ivyde.web.confs=provided,runtime,test
