#empconfigContent {
    width: 90%;
    margin: auto;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border: 1px solid #81a1b7;
    background-color: rgba(117,161,180,0.5);
}