@media screen and (min-device-width: 960px) {
    .content {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

body {
    margin: 0;
    font-family: "Microsoft YaHei UI", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    height: 48px;
    color:white;
    line-height: 48px;
    background: lightgrey;
}

#header li{
    height: 48px;
}

#header a {
    padding: 0 10px;
    text-decoration: none;
    color: white;
}

#navigator li {
    text-align: center;
    font-size: 1.2em;
    display: inline-block;
}

#navigator li.selected {
    background: grey;
}

#navigator ul {
    margin: 0;
}


#navigator {
    display: inline-block;
}



.user_icon {
    position: relative;
    height: 34px;
    width: 34px;
    top: 7px;
}

#user_info {
    float: right;
    overflow: hidden;
}

#user_info .opinion {
    display: none;
}

#user_info li {
    text-align: center;
    padding: 0 10px;
}

/*hover*/
#user_info:hover{
    border-radius: 0 0 5px 5px;
}
#user_info:hover .opinion {
    display: block;
}

#user_info:hover .opinion li {
    border-top:solid 1px lightgrey;
}

#user_info:hover li {
    background: #b6b6b6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.courseItem {
    border: 2px lightgrey solid;
    border-radius: 3px;
    width: 180px;
    height: 240px;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
}


#main_panel {
    width: auto;
    display: inline-block;
}

img {
    max-width: 100%;
}