.headerContent {
    height: 53px;
    background-image: url("../img/landing_header_bg.png");
    background-repeat: x;
    background-position: 0 0;

    .headerLogo {
        float: left;
        position: relative;
        top: 8px;
    }

    .menu, .userinfo {
        float: left;
        position: relative;
        top: 5px;
        font-size: 14px;

        .navbar {
            border: none;
            max-height: 44px;
            background-color: transparent;
        }

        .navbar-nav > li > a {
            padding-bottom: 12px;
        }

        .dropdown-menu > li > a:hover,
        .dropdown-menu > li > a:focus {
            background-color: #A8DAEE;
        }

    }

    .notification {
        float: right;
        margin: 10px 20px;
        cursor: pointer;

        &:hover {
            background-color: #ccc;
        }

        .nodisplay {
            display: none;
        }
        .unreadCount {
            position: relative;
            float: right;
            top: 4px;
            right: 12px;
            width: 14px;
            height: 14px;
            background-color: red;
            color: white;
            border-radius: 15px;
            font-size: 10px;
            padding: 0px 1px 4px 4px;
        }

        .noti_font_size {
            font-size: 24px;
        }
    }
    .userinfo {
        float: right;
        right:10px;



        .menuList {
            right: 20px;
        }
        
    }

}
