.headerContent {
    height: 53px;
    background-image: url("../img/landing_header_bg.png");
    background-repeat: x;
    background-position: 0 0;

    .headerLogo {
        float: left;
        position: relative;
        top: 8px;
    }

    .menuList {
        height: 38px;
        position: relative;
        top: 8px;
        background-color: transparent;
        border: 0px;
        cursor: pointer;
        padding: 0px 16px 0px 10px;
        font-size: 14px;
        line-height: 36px;
        vertical-align: middle;

        select {
            option {
                height: 35px;
                background-color: #FFF;
            }

            option:hover {
                background-color: #A8DAEE;/*#E5F2F9；*/
            }
        }

        .menuListItem {
            padding: 5px;
            background-color: #FFF;
        }

        .menuListItem:hover {
            background-color: #A8DAEE;
        }
        
    }

    .menu, .userinfo {
        float: left;
        .wrapper {
            width: 180px;
            height: 38px;
            position: relative;
            top: 8px;
            background-color: transparent;
            border: 0px;
            cursor: pointer;
            padding: 0px 16px 0px 10px;
            font-size: 14px;
            line-height: 36px;
            vertical-align: middle;
        }

        .parent {
            height: 100%;
        width: 100%;
        display: block;
        cursor: pointer;
        line-height: 30px;
        height: 30px;
        background: #F9F9F9;
        border: 1px solid #AAA;
        color: #282D31;
        font-weight: bold;
        z-index: 2;
        position: relative;
        -webkit-transition: border .1s linear, background .1s linear, z-index 0s linear;
        -webkit-transition-delay: .8s;
        text-align: center;
        }

        .parent:hover,
        .content:hover ~ .parent {
            background: #fff;
        -webkit-transition-delay: 0s, 0s, 0s;
        }

        .content:hover ~ .parent {
        }

        .content {
            position: absolute;
        top: 0;
        display: block;
        z-index: 1;
        height: 0;
        width: 180px;
        padding-top: 30px;
        -webkit-transition: height .5s ease;
        -webkit-transition-delay: .4s;
        border: 1px solid #777;
        box-shadow: 0 1px 2px rgba(0,0,0,.4);
        }

        .wrapper:active .content {
            height: 123px;
        z-index: 3;
        -webkit-transition-delay: 0s;
        }

        .content:hover {
            height: 123px;
        z-index: 3;
        -webkit-transition-delay: 0s;
        }

        .content ul {
            background: #fff;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        }

        .content ul a {
            text-decoration: none;
        }

        .content li:hover {
            background: #eee;
        color: #333;
        }

        .content li {
            list-style: none;
        text-align: left;
        color: #888;
        font-size: 14px;
        line-height: 30px;
        height: 30px;
        padding-left: 10px;
        border-top: 1px solid #ccc;
        }

        .content li:last-of-type {
            border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        }
    }

    .userinfo {
        float: right;

        .menuList {
            right: 20px;
        }
        
    }

}
