.headerContent {
    height: 53px;
    background-image: url("../img/landing_header_bg.png");
    background-repeat: x;
    background-position: 0 0;

    .headerLogo {
        float: left;
        position: relative;
        top: 8px;
    }

    .menu, .userinfo {
        float: left;
        position: relative;
        top: 5px;

        .navbar {
            border: none;
            max-height: 44px;
            background-color: transparent;
        }

        .navbar-nav > li > a {
            padding-bottom: 12px;
        }

        .dropdown-menu > li > a:hover,
        .dropdown-menu > li > a:focus {
            background-color: #A8DAEE;
        }

    }

    .userinfo {
        float: right;
        right:10px;

        .menuList {
            right: 20px;
        }
        
    }

}
