html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#homepage {
    width: 100%;
    height: 100%;
//    background-color: -moz-linear-gradient(top, #ccc, #000);
//    background-color: -webkit-linear-gradient(top, #ccc, #000);
    background: linear-gradient(#ccc, #3890D2);
}

#content {


    .tileBlock {
        position: relative;
        width: 180px;
        height: 180px;
        background-color: #fff;
        float: left;
        cursor: pointer;
        border-radius: 15px;
        margin: 0 5px 5px 0;

        .tileTitle {
            width: 100%;

            .title {
                padding-left: 10px;
                width: calc(100% - 40px);
                float: left;
            }

            .unreadCount {
                float: left;
                width: 20px;
                height: 20px;
                background-color: red;
                color: white;
                border-radius: 15px;
                font-size: 20px;
                padding: 5px 0 5px 10px;
            }
        }

        .helloMsg {
            position: absolute;
            bottom: 0;
            padding-left: 10px;
            background: rgba( 0, 0, 0, .4);
            width: calc(100% - 10px);
            border-radius: 0 0 15px 15px;

            p {
                font-size: 16px;
                color: #FFF;
              margin: 5px;
            }
        }
    }

    .tileBlock:hover {
        border: 1px solid #FFF;
    }
}