.tileBlock {
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    float: left;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 10px 10px 0;

    .tileContent {
      .tileTitle {
        width: 100%;
        padding-left: 10px;
        h3 {
          font-size: 16px;
        }
      }

      .helloMsg {
        position: absolute;
        bottom: 0;
        padding-left: 10px;
        background: rgba( 0, 0, 0, .4);
        width: calc(100% - 10px);
        border-radius: 0 0 10px 10px;

        p {
          font-size: 16px;
          color: #FFF;
          margin: 5px;
        }
      }
    }


  .unreadCount {
      float: left;
      width: 16px;
      height: 16px;
      background-color: red;
      color: white;
      border-radius: 10px;
      font-size: 16px;
      padding: 5px 0 5px 10px;
  }
}

.tileBlock:hover {
    border: 1px solid #FFF;
}

.tilelist{
    display: -webkit-box;
    width: 90%;
    text-align: center;
}

.smallsize{
  width: 180px;
  height: 180px;
}

.bigsize{
    width: 380px;
    height: 180px;
}

