.tileBlock {
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    background-size: contain;
    float: left;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px 10px 0;

    .tileContent{
      .tileTitle {
        width: 100%;
        padding-left: 10px;
        h3 {
          font-size: 18px;
        }
      }

      .tileIcon {
          position: absolute;
          bottom: 20px;
          right:20px;
        }

      .helloMsg {
        position: absolute;
        bottom: 0;
        padding-left: 10px;
        background: rgba( 0, 0, 0, .4);
        width: calc(100% - 10px);
        border-radius: 0 0 5px 5px;

        p {
          font-size: 16px;
          color: #FFF;
          margin: 5px;
        }
      }
    }


  .unreadCount {
      position:relative;
      float: right;
      top: -5px;
      right: -5px;
      width: 12px;
      height: 12px;
      background-color: red;
      color: white;
      border-radius: 20px;
      font-size: 16px;
      padding: 2px 2px 7px 7px;
  }
}

.tileBlock:hover {
    border: 1px solid #FFF;
}

.tilelist{
    display: -webkit-box;
    width: 90%;
    text-align: center;
}

.smallsize{
  width: 180px;
  height: 180px;
}

.bigsize{
    width: 380px;
    height: 180px;
}

.tileIconSize {
  font-size: 50px;
}

